body {
    color: #ffffff;
    background-color: #674BAF;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.info {
    font-size: 1rem;
}

.hint-text {
    font-size: 1rem;
    padding-bottom: 15px;
    text-align: center;
}

.login-form a {
    color: #fff;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
}

.login-form form a {
    color: #3598dc;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}

.form-control {
    height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
}

.form-control:focus {
    background: #e2e2e2;
}

.form-control, .btn {
    border-radius: 3px;
}

.login-form {
    width: 540px;
    margin: 50px auto;
    font-size: 15px;
}

.login-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
    color: #333;
    font-weight: bold;
}

.login-form hr {
    margin: 0 -30px 20px;
}

.form-control, .btn {
    min-height: 38px;

}

.btn {
    font-weight: bold;
    font-size: 16px;
    background: #3598dc;
    border: none;
    min-width: 140px;
}