/* ----------------------------------------------------------- */
/* ------------------------- BASIC SETUP ----------------------*/
/* ----------------------------------------------------------- */

:root {
    /* Primary */
    --violet: hsl(257, 40%, 49%);
    --white: hsl(0, 0%, 83%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    height: 100vh;
    background: url(../../TECHNICAL-SA3/img/bg-desktop.svg) center center / cover no-repeat, var(--violet);
    width: 100%;
}

/* ----------------------------------------------------------- */
/* --------------------------- CONTENT ------------------------*/
/* ----------------------------------------------------------- */

/* -------- CSS Grid ------- */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 70px 70px 50px;
}

/* -------- Mockup ------- */
.mockup-grid {
    margin: 56px 0 40px;
}

.mockup-grid img {
    width: 100%;
}

/* -------- Content Grid ------- */
.content-grid {
    padding: 100px 20px 70px;
}

.content-heading {
    font-size: 2.5em;
    width: 70%;
}

.content-info {
    width: 76%;
    font-size: 1.2em;
    line-height: 145%;
    margin: 20px 0;
    color: var(--white);
}

/* -------- Button ------- */
.btn-register {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    padding: 15px 70px;
    border-radius: 100px;
    border: 1px solid #fff;
    color: var(--violet);
    margin-top: 5px;
    box-shadow: 5px 7px 10px 0 hsla(0, 0%, 33%, 0.70);
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-register:hover {
    background-color: #594197;
    border: 1px solid #594197;
    cursor: pointer;
    color: #fff;
}

/* ----------------------------------------------------------- */
/* ---------------------------- FOOTER ------------------------*/
/* ----------------------------------------------------------- */
.social-icons {
    text-align: right;
}

.social-links li {
    list-style-type: none;
    display: inline-block;
    margin: 150px 0 10px 10px;
}

.social-links i {
    border-radius: 100px;
    border: 1px solid #fff;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.facebook:hover {
    background-color: #3b5998;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    background-position: 0% 50%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

.twitter:hover {
    background-color: #55acee;
    background-position: 0% 50%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

.instagram {
    padding: 9px 10px;
    background: linear-gradient(
            -45deg,
            #674baf 0 calc(50% - 10px),
            #f5f5f5 calc(50% - 10px) calc(50% + 10px),
            #d6249f calc(50% + 10px) 100%
    );
    background-size: 350% 100%;
    background-position: 100% 50%;

    -webkit-transition: 0.5s all;

    transition: 0.5s all;
}

.instagram:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    background-position: 0% 50%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

/* -------- Borders ------- */
.facebook {
    padding: 9px 12px;
    background: linear-gradient(
            -45deg,
            #674baf 0 calc(50% - 10px),
            #f5f5f5 calc(50% - 10px) calc(50% + 10px),
            #3b5998 calc(50% + 10px) 100%
    );
    background-size: 350% 100%;
    background-position: 100% 50%;

    -webkit-transition: 0.5s all;

    transition: 0.5s all;
}

.twitter {
    padding: 9px 9px;
    background: linear-gradient(
            -45deg, #674baf 0 calc(50% - 10px),
            #f5f5f5 calc(50% - 10px) calc(50% + 10px),
            #55acee calc(50% + 10px) 100%
    );
    background-size: 350% 100%;
    background-position: 100% 50%;

    -webkit-transition: 0.5s all;

    transition: 0.5s all;
}

.attribution {
    padding-top: 24px;
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.attribution a {
    color: #46249c;
}

/* ----------------------------------------------------------- */
/* ------------------------ Media Queries ---------------------*/
/* ----------------------------------------------------------- */

@media only screen and (max-width: 2078px) {
    .mockup-grid img {
        width: 90%;
    }

    .mockup-grid {
        margin: 26px 0 40px;
    }

    .social-links {
        margin-top: -220px;
        margin-right: 220px;
    }
}

@media only screen and (max-width: 1685px) {
    .content-heading {
        width: 80%;
    }

    .content-info {
        width: 88%;
    }

    .social-links i {
        margin-top: 140px;
    }
}

@media only screen and (max-width: 1680px) {
    body {
        font-size: 15px;
        padding-left: 100px;
    }

    .wrapper {
        grid-gap: 0;
    }

    .content-heading {
        width: 80%;
    }

    .content-info {
        width: 80%;
    }

    .mockup-grid {
        margin: 56px 0 40px;
    }

    .social-links i {
        margin-top: 120px;
    }

    .attribution {
        padding-top: 0;
    }
}

@media only screen and (max-width: 1440px) {
    body {
        padding: 35px 80px 50px 70px;
    }

    .nav-brand {
        margin-bottom: 20px;
    }

    .wrapper {
        grid-gap: 25px;
    }

    .mockup-grid {
        margin: 84px 0 60px;
    }

    .mockup-grid img {
        width: auto;
    }

    .content-grid {
        padding: 120px 20px 0;
        height: 70%;
    }

    .content-heading {
        width: 90%;
    }

    .content-info {
        width: 100%;
    }

    .social-links {
        margin-top: -190px;
    }

    .attribution {
        padding-top: 35px;
        position: absolute;
    }
}

@media only screen and (max-width: 1416px) {
    body {
        font-size: 12px;
        padding: 45px 80px 50px 70px;
    }

    .nav-brand {
        width: 18%;
    }

    .content-heading {
        font-size: 250%;
        width: 77%;
    }

    .social-links {
        margin-top: -210px;
    }
}

@media only screen and (max-width: 1350px) {
    body {
        font-size: 15px;
        padding: 60px 80px 50px 70px;
    }

    .content-heading {
        width: 100%;
    }

    .content-info {
        width: 100%;
    }

    .social-links {
        margin-top: -230px;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 13px;
    }

    .wrapper {
        grid-template-columns: 1.3fr 1fr;
    }

    .content-grid {
        padding: 160px 20px 70px;
    }

    .content-heading {
        width: 100%;
    }

    .content-info {
        width: 90%;
    }

    .mockup-grid img {
        width: 100%;
        margin-top: 40px;
    }

    .social-links {
        margin-top: -165px;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 12px;
        padding: 80px 80px 50px 70px;
    }

    .content-heading {
        width: 120%;
    }

    .content-info {
        width: 90%;
    }

    .social-links i {
        font-size: 1rem;
        margin-top: 180px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding: 40px 50px 40px;
        text-align: center;
    }

    .nav-brand {
        width: 28%;
        margin-bottom: 20px;
        margin-left: -270px;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .mockup-grid {
        margin: 0;
    }

    .mockup-grid img {
        width: 70%;
        margin-top: 40px;
    }

    .content-grid {
        padding: 10px;
    }

    .content-heading {
        width: 60%;
        margin-left: 20%;
    }

    .content-info {
        width: 65%;
        margin-top: 10px;
        margin-left: 17.5%;
    }

    .social-icons {
        text-align: center;
    }

    .social-links i {
        font-size: 1rem;
        margin-top: 50px;
    }

    .attribution {
        padding-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    .nav-brand {
        width: 50%;
        margin-left: -195px;
    }

    .mockup-grid img {
        width: 100%;
    }

    .content-grid {
        padding: 10px 10px 10px;
    }

    .content-heading {
        width: 110%;
        font-size: 2rem;
        margin-left: -6px;
    }

    .content-info {
        width: 100%;
        font-size: 1rem;
        margin: 10px 3% 20px;
        color: #cfcfcf;
    }

    .btn-register {
        padding: 10px 80px;
    }

    .social-icons {
        text-align: center;
    }

    .social-links i {
        font-size: 1rem;
        margin-top: 70px;
    }

    .attribution {
        width: 100%;
        font-size: 0.6rem;
        padding: 0;
    }
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 9px;
        padding: 50px 40px 30px;
        background: url(../../TECHNICAL-SA3/img/bg-mobile.svg) top right / cover no-repeat, var(--violet);
        text-align: center;
    }

    .nav-brand {
        width: 55%;
        margin-bottom: 30px;
        margin-left: -140px;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .mockup-grid {
        margin: 0 0 20px;
    }

    .mockup-grid img {
        width: 100%;
        margin-top: 20px;
    }

    .content-grid {
        padding: 10px 20px 40px;
    }

    .content-heading {
        font-size: 1.5rem;
    }

    .content-info {
        width: 120%;
        margin: 20px -8%;
    }

    .btn-register {
        font-size: 1.5em;
    }

    .social-links i {
        margin-top: 59px;
    }
}
